$gray : #d3d3d3;
$green : #75B975;

.main-content {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}

body {
  margin: 2em;
  background-image: url("https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2014/02/20/Production/Health/Images/bigstock-Medicine-Doctor-Hand-Working-W-44541469.jpg?t=20170517");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  background-color: #2468d6;
}
